services:
  api:
    build: .
    ports:
      - "${API_PORT}:${API_PORT}"
    env_file:
      - .env
    depends_on:
      - qdrant
    volumes:
      - ./src:/app/src

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "${QDRANT_PORT}:${QDRANT_PORT}"
    volumes:
      - ./qdrant_data:/qdrant/storage
